<h1> Benchmark </h1>
<p>This component demonstrates fetching data from the server.</p>
<p *ngIf="!benchmarks"><em>Loading...</em></p>
<table class='table table-striped' *ngIf="benchmarks">
  <thead>
    <tr>
      <th>Name</th>
      <th>Action</th>
      <th>ElapsedMilliseconds</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let benchmark of benchmarks">
      <td>{{ benchmark.name }}</td>
      <td>{{ benchmark.action }}</td>
      <td>{{ benchmark.elapsedMilliseconds }}</td>
    </tr>
  </tbody>
</table>
